*.a
*.o
*.lo
*.so*
fqd.h
fqd
fqc
fqs
fqtool
fq_bench
fq_dtrace.h
fq_rcvr
fq_sndr
lua/fqclient.lua
Makefile.build
Makefile.depend
*.dSYM/
.*.swp
ck-*/Makefile
ck-*/build/ck.spec
ck-*/doc/Makefile
java/classes/
java/*.class
java/fqclient.jar
*~
.autotools
.cproject
.project
.settings/
test/fqd.sqlite
test/out.log
test/test_detail.xml
