*.a
*.o
*.lo
*.so
fqd.h
fqd
fqc
fqtool
fq_bench
fq_dtrace.h
fq_rcvr
fq_sndr
Makefile.build
Makefile.depend
*.dSYM/
.*.swp
ck-*/Makefile
ck-*/build/ck.spec
ck-*/doc/Makefile
java/classes/
java/*.class
java/fqclient.jar
*~
