[project]
	description = "F@#$*&%Q (Message queue that is fast, brokered, in C and gets out of your way)"
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Riley Berton (rileyberton)
[access "refs/for/refs/*"]
	read = group user/Riley Berton (rileyberton)
	push = group user/Riley Berton (rileyberton)
	label-Code-Review = -2..+2 group user/Riley Berton (rileyberton)
	label-Verified = -1..+1 group user/Riley Berton (rileyberton)
	rebase = group user/Riley Berton (rileyberton)
	removeReviewer = group user/Riley Berton (rileyberton)
	submit = group user/Riley Berton (rileyberton)
[access "refs/heads/*"]
	read = group user/Riley Berton (rileyberton)
	create = group user/Riley Berton (rileyberton)
	push = +force group user/Riley Berton (rileyberton)
	pushMerge = group user/Riley Berton (rileyberton)
[access "refs/tags/*"]
	push = +force group user/Riley Berton (rileyberton)
	pushTag = group user/Riley Berton (rileyberton)
	pushSignedTag = group user/Riley Berton (rileyberton)
