[Unit]
Description=FQ
After=network.target

[Service]
User=fq
WorkingDirectory=/opt/circonus/var/lib/fq
EnvironmentFile=-/opt/circonus/var/lib/fq/daemon_options
ExecStart=/opt/circonus/sbin/fqd -D ${DAEMON_OPTS}

# Note that leaving the service as forking breaks restarts
Restart=always

[Install]
WantedBy=multi-user.target
